/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  color: #f3f4f5;
  background-color: #efefef;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  font: 400 15px/1.4 "Open Sans", sans-serif;
}
/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #27313c;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.header__cantainer {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.header__logo {
  float: left;
}
.header__logo img {
  margin: 0;
  font-size: 16px;
  line-height: 40px;
}
.header__nav {
  float: right;
  line-height: 40px;
}
.header__nav a {
  display: inline-block;
  padding: 0 5px;
  padding: 0 25px;
  text-decoration: none;
  opacity: 0.9;
  color: #ffffff;
  border-radius: 3px;
  background-color: #e91e63;
  font-size: 14px;
  font-weight: bold;
}
.header__nav a:hover {
  opacity: 1;
}
@media all and (max-width: 600px) {
  .header {
    padding: 20px 0;
  }
  .header__logo {
    float: none;
    margin: 10px 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
  }
  .header__nav {
    float: none;
  }
}
/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
  padding: 60px 50px;
  color: #525252;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.main__container {
  max-width: 880px;
  height: 100%;
  margin: 0 auto;
  padding: 60px 90px;
  text-align: center;
  background-color: #ffffff;
}
.main__container h1 {
  margin-bottom: 25px;
  font-size: 28px;
}
.main__container h3 {
  max-width: 600px;
  margin: 0 auto 35px;
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}
.main__container p {
  margin: 20px 0 40px;
  text-align: left;
  line-height: 1.5;
}
.main__form {
  width: 50%;
  margin: 0 auto;
  font-size: 0;
}
.main__form input {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid;
  border-radius: 3px;
}
.main__form input:focus {
  outline: none;
}
.main__form button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.9;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  background: #e91e63;
  font-size: 14px;
  font-weight: bold;
}
.main__form button:hover {
  opacity: 1;
}
@media all and (max-width: 600px) {
  .main {
    padding: 60px 20px;
  }
  .main__container {
    padding: 40px 30px;
  }
  .main__form {
    width: 100%;
  }
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  width: 100%;
  padding: 45px 50px;
  text-align: left;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  font: normal 16px sans-serif;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.footer__cantainer {
  max-width: 880px;
  margin: 0 auto;
}
.footer__copyright p {
  margin: 0;
  color: #8f9296;
  font-size: 14px;
}
.footer__copyright h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.footer__social {
  float: right;
  max-width: 180px;
  margin-top: 6px;
}
.footer__social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 3px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background-color: #33383b;
  font-size: 20px;
  line-height: 35px;
}
.footer__social a:hover {
  color: #33383b;
  background-color: #ffffff;
}
@media (max-width: 600px) {
  .footer__copyright,
  .footer__social {
    text-align: center;
  }
  .footer__social {
    float: none;
    margin: 0 auto 20px;
  }
  .footer__copyright h3 {
    line-height: 1.8;
  }
}
