/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
	display: flex;

	padding: 40px 15px;

	color: #525252;
	background: url(../img/main/main__bg.jpg) no-repeat center center;
	background-size: cover;

	flex: 1 0 auto;
	align-items: center;
}

.main__container {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;

	text-align: center;
}

.main__logo {
	display: block;

	margin: 0 auto 20px;
}

.main__container h1 {
	display: block;

	margin-bottom: 25px;

	letter-spacing: 6px;

	color: @color__white;

	font-family: "Creepster", "Open Sans", sans-serif;
	font-size: 110px;
}

.main__container h2 {
	max-width: 600px;
	margin: 0 auto 35px;

	color: @color__white;

	font-size: 16px;
	font-weight: normal;
	line-height: 1.6;
}

.main__container p {
	margin: 20px 0 40px;

	text-align: left;

	line-height: 1.5;
}

.main__form {
	width: 50%;
	margin: 0 auto;

	font-size: 0;
}

.main__form input {
	display: block;

	width: 100%;
	margin: 10px auto;
	padding: 15px;

	border: 1px solid;
	border-radius: 3px;

	font-size: 14px;
}

.main__form input:focus {
	outline: none;
}

.main__form button {
	display: block;

	width: 100%;
	margin: 0 auto;
	padding: 15px 60px;

	text-decoration: none;
	text-transform: uppercase;

	opacity: 0.9;
	color: @color__white;
	border: 0;
	border-radius: 3px;
	background: @color__pink;

	font-size: 14px;
	font-weight: bold;
}

.main__form button:hover {
	opacity: 1;
}

.main__success h3 {
	color: @color__green;

	font-size: 24px;
}

@media all and (max-width: 600px) {
	.main__form {
		width: 100%;
	}
	.main__container h1 {
		font-size: 40px;
	}
	.main__success h3 {
		font-size: 18px;
	}
}
