/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
	padding: 60px 50px;

	color: #525252;

	flex: 1 0 auto;
}

.main__container {
	max-width: 880px;
	height: 100%;
	margin: 0 auto;
	padding: 60px 90px;

	text-align: center;

	background-color: @color__white;
}

.main__container h1 {
	margin-bottom: 25px;

	font-size: 28px;
}

.main__container h3 {
	max-width: 600px;
	margin: 0 auto 35px;

	color: #999999;

	font-size: 16px;
	font-weight: normal;
	line-height: 1.6;
}

.main__container p {
	margin: 20px 0 40px;

	text-align: left;

	line-height: 1.5;
}

.main__form {
	width: 50%;
	margin: 0 auto;

	font-size: 0;
}

.main__form input {
	display: block;

	width: 100%;
	margin: 10px auto;
	padding: 15px;

	border: 1px solid;
	border-radius: 3px;
}

.main__form input:focus {
	outline: none;
}

.main__form button {
	display: block;

	width: 100%;
	margin: 0 auto;
	padding: 15px 60px;

	text-decoration: none;
	text-transform: uppercase;

	opacity: 0.9;
	color: @color__white;
	border: 0;
	border-radius: 3px;
	background: @color__pink;

	font-size: 14px;
	font-weight: bold;
}

.main__form button:hover {
	opacity: 1;
}

@media all and (max-width: 600px) {
	.main {
		padding: 60px 20px;
	}
	.main__container {
		padding: 40px 30px;
	}
	.main__form {
		width: 100%;
	}
}
